.ocultar {
    display: none;
}

body {
    background-color: black;
}

.botones {
    padding: 10px;
    text-align: center;
}

.cargando {
    color: white;
    text-align: center;
    padding: 10px;
}

.contenedor-pokemon {
    color: black;
    margin: 15px;
    height: auto;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
}

.centrar {
    text-align: center;
}
